form {
  width: auto; 
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  background-color:rgba(92, 198, 217, 0.733); 
	border-radius: 10px;
  }
button.btn:hover {
  background-color: #f39c12 !important;
  color: white;
}


table tr:hover {
  background-color: #f8f9fa;
  cursor: pointer;
}
.ha4 {
background-color: #4caccc;
padding: 10px;
  width: 100%;
  color: white;
  text-align: center;
  height:auto;
  overflow: visible;
}

.navbar-brand {
  font-family: 'Courier New', Courier, monospace;
  font-size: 32px;
}